// -------------- THEME SWITCHER -------------- //
@mixin theme($--bg-color, $--primary-text-color, $--secondary-text-color, $--link-color, $--visited-link-color) {
  background-color: $--bg-color;

  color: $--primary-text-color;

  a {
    color: $--link-color;
    text-decoration: none;

    &:visited { color: $--visited-link-color; }
    &:hover { text-decoration: underline; }
  }

  code:not(pre > code) {
    background-color: $--primary-text-color;
    color: $--bg-color;
  }

  figcaption { color: $--secondary-text-color; }

  blockquote {
    font-style: italic;
    border: thin solid $--primary-text-color;
    padding: 1rem;

    p { margin: 0; }
  }

  pre {
    background: $--bg-color;
    padding: 1em;
    overflow-x: auto; /* Fix pre content overflowing parent without scroll bar */
    white-space:pre-wrap;
  }

  summary {
	color: $--secondary-text-color; 
	cursor: pointer;
  }

  .toc {
    border: thin solid $--primary-text-color;
    padding: 1rem;
  }

  .theme {
     fill: $--primary-text-color;
  }

    *:target { background: $--secondary-text-color; }

	#imageSearch {
	  background: $--bg-color;
	  color: $--primary-text-color;
	}


}

@mixin dark-appearance {
  @include theme(#0a131d, #cfe6ba, #7d8a96, #d1cfc9, #8f9295); // modus-vivendi
}

@mixin light-appearance {
  @include theme(#ffffff, #000000, #595959, #3548cf, #6b212c); // modus-operandi
}

body[a="dark"] { @include dark-appearance; }
body[a="light"] { @include light-appearance; }


@media (prefers-color-scheme: dark) {
  body[a="auto"] { @include dark-appearance; }
}

@media (prefers-color-scheme: light) {
  body[a="auto"] { @include light-appearance; }
}

// -------------------------------------------- //

html { height: 100%; }

body {
  font-family: monospace;
  font-size: 16px;
  line-height: 1.48;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

.post-meta { text-align: right; }

h2, h3, h4, h5, h6 { margin-top: 3rem; }

hr { margin: 2rem 0; }

p { margin: 2rem 0; }

li { margin: 0.4rem 0; }



.w {
  max-width: 1050px;
  margin: 0 auto;
  padding: 4rem 2rem;
}


hr {
  text-align: center;

  border: 1;

  }


table { width: 100%; }

table, th, td {
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

code:not(pre > code) {
  padding: 0.1em 0.2em;
  font-size: 90%;
}

code.has-jax {
  -webkit-font-smoothing: antialiased;
  background: inherit !important;
  border: none !important;
  font-size: 100%;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

figcaption {
  text-align: center;
  opacity: 0.5;
}
